/* FONT:
font-family: 'Lilita One', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Montez', cursive; */

h1,
h3 {
  font-family: "Montserrat Alternates", sans-serif !important;
  margin: 0;
  padding: 0;
}

h2,
h4 {
  font-family: "Lilita One", sans-serif !important;
  margin: 0;
  padding: 0;
}

h5 {
  font-family: "Montez", sans-serif !important;
  margin: 0;
  padding: 0;
}

h6,
body {
  font-family: "Montserrat", sans-serif !important;
  border: 0;
}

/* NAV BAR */

/* OTHER */
#b-card-group li {
  list-style: none;
}

.tuto-container {
  margin: 10%;
}

.keyWord {
  margin: 0.3rem;
  padding: 0.3rem;
  border: peru solid 2px;
  border-radius: 1rem;
}
