#navBar {
  background-color: rgb(234, 89, 11);
}

#b-card-group li {
  list-style: none;
}

.button-profile {
  padding: 2rem;
  margin: 2%;
  width: 300px;
  background-color: blue;
  color: white;
  font-size: 1.6rem;
}

.button-profile:hover {
  padding: 2rem;
  margin: 2%;
  width: 20rem;
  background-color: white;
  color: blue;
  border: 1px solid blue;
}

.tuto-container {
  margin: 10%;
}

.keyWord {
  margin: 0.3rem;
  padding: 0.3rem;
  border: peru solid 2px;
  border-radius: 1rem;
}
